.bold_title {
  font-weight: bold;
  font-size: 13px;
}

.red_color {
  color: red;
}

.items_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__margin_top {
  margin-top: 12px;
}

.app__container {
  display: flex;
  gap: 24px;
  min-height: 100vh;
}

.app__sidebar_container {
  width: 220px;
  background-color: #ebebeb;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 4px;
}

.app__dashboard_container {
  background-color: #ebebeb;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
}

.sidebar__menu_item {
  font-size: 13px;
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 4px 12px;
  border-radius: 10px;
}

.sidebar__menu_item:hover {
  background-color: #f1f2f4;
}

.sidebar__selected_item {
  background-color: #ffffff;
}

.app__feature_product_image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.app__product_seo_creation {
  padding: 10px;
}

.app__product_image_container {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.app__product_alt_image {
  width: 80px;
  height: 80px;
  flex: 1;
}

.app__product_alt_image-smaller {
  width: 40px;
  height: 40px;
  flex: 1;
}

.app__product_alt_image img,
.app__product_alt_image-smaller img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.app__product_alt_item {
  display: flex;
  gap: 16px;
}

.app__product_alt_textarea {
  flex: 10;
}

.app__seo_alt_form {
  display: flex;
  width: 100%;
  gap: 12px;
}

.app__seo_alt_textarea {
  flex: 1;
}

.app_seo_alt_button {
  display: flex;
  justify-content: end;
  align-items: end;
}

.app__seo_score_container {
  height: 100%;
  margin-top: 12px;
}

.seo_score_page_title_container {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 12px;
  margin-bottom: 12px;
}

.seo_score_page_title {
  font-size: 28px;
}

.seo_score_page_description {
  margin-top: 12px;
}

.seo_score_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 12px;
}

.seo_score_container_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.seo_score_result_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.seo_score_title {
  font-size: 16px;
  margin-bottom: 12px;
}

.seo_score_result {
  font-size: 36px;
  color: #ffffff;
}

.seo_score_insights_url {
  color: #f27321;
  text-decoration: none;
  cursor: pointer;
}

.seo_score_insights_url:hover {
  color: rgba(69, 143, 255, 1);
}

.app_product_bulk_update {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid rgba(221, 224, 228, 1);
  padding: 10px;
  background-color: #ffffff;
}

.seo_score_analysis {
  margin-top: 12px;
}

.seo_list_for_score {
  display: flex;
  gap: 32px;
}

.app_product_bulk_image {
  flex: 3;
  display: flex;
  align-items: center;
  gap: 12px;
}

.app_product_bulk_input {
  flex: 3;
}

.product_bulk_update_description {
  flex: 6;
}

.app_product_bulk_update_button {
  display: flex;
  justify-content: end;
  margin-bottom: 12px;
}

.seo_scan_page {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}

.seo_scan_meta_info {
  border: 1px solid rgba(221, 224, 228, 1);
  padding: 10px;
  margin-bottom: 12px;
}

.seo_scan_product_section {
  display: flex;
  gap: 12px;
  border-bottom: 1px solid rgba(221, 224, 228, 1);
  padding: 8px 0;
}

.seo_scan_product_section:last-child {
  border-bottom: none;
}

.seo_scan_product_meta {
  flex: 2;
  font-weight: bold;
}

.seo_scan_product_meta_data {
  flex: 10;
}

.seo_scan_product_title_suggestion {
  border-bottom: 1px solid rgba(221, 224, 228, 1);
  margin-bottom: 4px;
  padding-bottom: 4px;
}
