.bold_title {
  font-weight: bold;
  font-size: 13px;
}

.red_color {
  color: red;
}

.content__margin_top {
  margin-top: 12px;
}

.app__container {
  display: flex;
  gap: 24px;
  height: 100vh;
}

.app__sidebar_container {
  width: 220px;
  background-color: #ebebeb;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 4px;
}

.app__dashboard_container {
  background-color: #ebebeb;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
}

.sidebar__menu_item {
  font-size: 13px;
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 4px 12px;
  border-radius: 10px;
}

.sidebar__menu_item:hover {
  background-color: #f1f2f4;
}

.sidebar__selected_item {
  background-color: #ffffff;
}

.app__feature_product_image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.app__product_seo_creation {
  padding: 10px;
}

.app__product_image_container {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.app__product_alt_image {
  width: 80px;
  height: 80px;
  flex: 1;
}

.app__product_alt_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.app__product_alt_item {
  display: flex;
  gap: 16px;
}

.app__product_alt_textarea {
  flex: 10;
}

.app__seo_alt_form {
  display: flex;
  width: 100%;
  gap: 12px;
}

.app__seo_alt_textarea {
  flex: 1;
}

.app_seo_alt_button {
  display: flex;
  justify-content: end;
  align-items: end;
}

.app__seo_score_container {
  margin-top: 12px;
}

.seo_score_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.seo_score_result_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #19753c;
}

.seo_score_title {
  font-size: 14px;
  margin-bottom: 12px;
}

.seo_score_result {
  font-size: 36px;
  color: #ffffff;
}

.app_product_bulk_update {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid rgba(221, 224, 228, 1);
  padding: 10px;
  background-color: #ffffff;
}

.app_product_bulk_image {
  flex: 3;
  display: flex;
  align-items: center;
  gap: 12px;
}

.app_product_bulk_input {
  flex: 3;
}

.product_bulk_update_description {
  flex: 6;
}

.app_product_bulk_update_button {
  display: flex;
  justify-content: end;
  margin-bottom: 12px;
}
